apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: aipx
  labels:
    app: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
  - name: http
    port: 8082
    targetPort: 8082
  - name: metrics
    port: 9091
    targetPort: 9091
